<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ccMonitoringApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ccMonitoringApp.Properties.Settings.dbConnectionTRAV"
            connectionString="Data Source=LAP-BSI1\SQLEXPRESS;Initial Catalog=TravCom;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <ccMonitoringApp.Properties.Settings>
            <setting name="Top" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="appName" serializeAs="String">
                <value>CCMonitoring</value>
            </setting>
        </ccMonitoringApp.Properties.Settings>
    </applicationSettings>
</configuration>